apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: spa-renderer-certificate
  namespace: "{{ k8s_namespace }}"
spec:
  secretName: spa-renderer-tls-secret
  issuerRef:
    kind: ClusterIssuer
    name: lets-encrypt
  dnsNames:
    - "{{ hostname }}"