apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: spa-renderer-ingress
  namespace: "{{ k8s_namespace }}"
spec:
  tls:
    - secretName: spa-renderer-tls-secret
      hosts:
        - "{{ hostname }}"
  rules:
    - host: "{{ hostname }}"
      http:
        paths:
          - pathType: ImplementationSpecific
            backend:
              service:
                name: spa-renderer-service
                port:
                  name: expressjs-port
