apiVersion: v1
kind: Service
metadata:
  name: spa-renderer-service
  namespace: "{{ k8s_namespace }}"
spec:
  selector:
    app: spa-renderer
    branch: "{{ git_branch }}"
  ports:
    - name: expressjs-port
      port: 8000